
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không thể truy cập</title>
</head>
<body>
    <div> 
        <h2>Bạn không có quyền truy cập.Vui lòng liên hệ Admin để được cấp truyền.</h2>
        <a href="/Admin/Home/Login">Đăng nhập với tư cách là Nhân Viên hoặc Admin</a>
    </div>
</body>
</html>
